html{
    box-sizing: border-box;
}
*,
*::before,
*::after{
    box-sizing: inherit;
}


body{
    font-family: 'Playfair Display', 'Times New Roman',  serif;
    color: #626262;
    font-size: 14px;
    line-height: 24px;
}



.container{
    width: 900px;
    margin: 0 auto;
   }
   .page-nav{
       padding: 80px 0px;
   }

.site-navigation{
    padding: 0px;
    margin: 0px;
    list-style: none;  
    text-align: center;
    vertical-align: middle; 
    
}

    .site-navigation li{
        
        display: inline-block;
        margin-right: 120px;
        
        
    }
    .site-navigation li:last-child{
        margin-right: 0px;
    }
 
.site-navigation a {
    color: #626262;
    text-transform: uppercase;
    text-decoration: none;
}
    .site-navigation a:hover {
        color: #03a9f4;

    }

.posts-list {
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.posts-list-item{
    width: calc(420px - 2px);
    display: inline-block;
    margin-right: 60px;
    margin-bottom: 140px;
}


.posts-list-item:nth-last-child(-n+2){
    margin-bottom: 0px;
}
   
    

.posts-list-item:nth-child(2n){
    margin-right: 0px;
}

.posts-list-name{
   font-family: 'Ubuntu', 'Arial',sans-serif;
   text-transform: uppercase;
   color: #b4ad9e;
}
.post-title{
 font-size: 30px;
 line-height: 36px;   
}
.load{
    display: block;
    font-size: 20px;
    line-height: 24px;
    width: 152px;
    height: 58px;
    margin: 60px auto 70px;
}